@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General */
* {
    margin: 0;
    font-family: "Poppins", sans-serif;  
}

/* Header */
.header {
    margin: 0px;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.navigation {
    word-spacing: 10px; 
}

.navigation a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:darkgoldenrod
}





/* INTRO CONTAINER*/
.intro {
    display: flex;
    justify-content: space-between; 
    background-color: rgb(255, 255, 255); 
    height: 100vh;
    padding: 0 100px;
}

/* INTRO - TEXT CONTAINER*/
.intro .text-container {   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Espaçamento interno */
    flex: 1; /* Permite expandir a área da div de encontro até img principal*/
    
}

/* INTRO - TEXT CONTENT*/
.intro .text-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro h1 {
    font-size: 50px;
}
.intro h2 {
    font-size: 30px;
}

/* INTRO - ICONS CONTENT*/
.intro .icons-content {
    
    display: flex;
    justify-content:  ;
    position: relative; /*permite empurrar os icons para baixo sem afetar os textos centralizados */
    top: 170px;
}
.intro .icons-content img {
    margin: auto 20px;
}


/* INTRO - IMG CONTAINER*/
.img-container {  
    
   
}

/* INTRO - IMG CONTENT*/
.img-container .img-content {
    max-width: 100%; /* Faz a imagem se ajustar ao tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */ 
}


/* Technologies */
.technologies {
    padding: 20px 0px;
    background-color: black;
    color: white;  
    
  }

.technologies h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 50px auto; 
}



.languages {
    
}

/*HTML*/

.languages .html-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}

.languages .html-container:hover {
    font-weight: 500;
    border: 1px solid white;
   
}

.languages .html-container .html-logo {
    display: flex;
    width: 40%;
    align-content: center;
    justify-content: center;
}

.languages .html-container .html-logo img {
    display: flex;
    width: 180px;
    height: 180px;
    align-content: center;
    justify-content: center;
}


.languages .html-description {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

.languages .html-description h2 {
  font-size: 26px;
}





/*CSS*/

.languages .css-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}

.languages .css-container:hover {
    font-weight: 500;
    border: 1px solid white;
}

.languages .css-container .css-logo {
    display: flex;
    width: 40%;
    align-content: center;
    justify-content: center;
}

.languages .css-container .css-logo img {
    display: flex;
    width: 180px;
    height: 180px;
    align-content: center;
    justify-content: center;
}

.languages .css-description {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

.languages .css-description h2 {
  font-size: 26px;
}




/*JavaScript*/

.languages .js-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}

.languages .js-container:hover {
    font-weight: 500;
    border: 1px solid white;
    color: 
   
}

.languages .js-container .js-logo {
    display: flex;
    width: 40%;

    align-content: center;
    justify-content: center;
}


.languages .js-description {
    display: flex;
    width: 40%;

    flex-direction: column;
    justify-content: center;
}

.languages .js-description h2 {
  font-size: 26px;
}

.languages .js-container .js-logo img {
    display: flex;
    width: 180px;
    height: 180px;

    align-content: center;
    justify-content: center;
}






/* Projects */

.projects {
    
    background-color: black;
    color: white;
    height: 700px;
    
    
}

.projects h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}




/* IMAGES GALLERY */

.gallery {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 50px auto;
    
}

.gallery-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    font-size: 20px;
    
    
}

.gallery-item:hover {
    border: 1px solid white;
    
}


.gallery img{
    height: auto;
    width: 100%;
}


/* Footer */
footer {
    
}